* {
  font-family: monospace;
  font-size: 1.1em;
}

.column-sum {
  text-align: center;
  margin-bottom: 0.5em;
}

.group {
  display: inline-block;
  margin: 0 1em;
}

span[data-selected]::before {
  background: red;
  border-radius: 1em;
  content: ' ';
  display: inline-block;
  height: 1em;
  width: 1em;
}

span[data-selected=true]::before {
  background: green;
}
