<p>
  Solved: <span class="resistor-solved" data-selected=<%= Resistor.is_solved?(@resistors) %></span>
</p>
<%= for {group, col} <- Enum.with_index(@resistors) do %>
  <span class="group">
    <div class="column-sum">Total needed: <%= group_sum(group) %></div>
    <%= for {row, resistor} <- group do %>
      <div class="resistor">
        <span><%= String.pad_leading("#{resistor.value}", 3, "0") %></span>
        <input class="js-toggle-resistor" type="button" value="Toggle" data-x=<%= col %> data-y=<%= row %>>
        <span class="resistor-<%= "#{col}#{row}" %>" data-selected=<%= resistor.selected || false %>></span>
        <span data-selected=<%= resistor.included || false %>></span>
      </div>
    <% end %>
  </span>
<% end %>
